<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<ul>
  <% @author.books.each do |b| %>
    <li><%= link_to b, b %></li>
  <% end %>
</ul>

<%= link_to '✏', edit_author_path(@author), title: :Edit %> |
<%= link_to '⏫', authors_path, title: :Up %>
