<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @filename.name %>
</p>

<ul>
  <% @filename.shares.each do |share| %>
    <li><%= link_to(
      "#{share.server.name}/#{share.directory.name}/#{share.filename.name}",
      share
    ) %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_filename_path(@filename) %> |
<%= link_to 'Back', filenames_path %>
