<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= link_to @book.author.name, @book.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title.name %>
</p>

<p>
  <strong>Data:</strong>
  <% if @book.data.empty? %>
    <span>None</span>
  <% else %>
    <ul>
      <% @book.data.each do |d| %>
        <%= link_to(
          "#{d.mimetype}: #{d.present? ? '✔' : '❌'}",
          d
        ) %>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
