<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= link_to @book.author.name, @book.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title.name %>
</p>

<p>
  <strong>Data:</strong>
  <% if @book.data.empty? %>
    <span>None</span>
  <% else %>
    <ul>
      <% @book.data.each do |d| %>
        <li>
          <span><%= d.mimetype %>:</span>
          <% if d.present? %>
            <%= link_to '✔', d.url %>
          <% else %>
            <%= link_to '❌', d%>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<% if @suggestions %>
  <ul class='actionlist'>
    <% @suggestions.each do |s| %>
      <li>
        <span><%= s %></span>
        <% if(
          Link
          .where(book: @book, filename: s)
          .exists?
        %>
          <span>Linked</span>
        <% else %>
          <%= form_with url: link_path do |f| %>
            <%= f.hidden_field :book_id, value: @book.id %>
            <%= f.hidden_field :filename_id, value: s.id %>
            <%= f.submit :Link %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to '✏', edit_book_path(@book) %> |
<%= link_to '⏫', books_path %>
