<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= link_to @book.author.name, @book.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title.name %>
</p>

<p>
  <strong>Data:</strong>
  <%= link_to(
    @book.data.present? ? '✔' : '❌',
    @book.data
  ) %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
