<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @link.book_id %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @link.filename_id %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
