<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @datum.size %>
</p>

<p>
  <strong title='Interplanetary Filesystem'>IPFS:</strong>
  <% if @datum.ipfs_id %>
    <%= link_to(
      '✔️',
      "http://ipfs.io/ipfs/#{@datum.ipfs_id}"
    ) %>
  <% else %>
    <span>❌</span>
  <% end %>
</p>

<ul>
  <% @datum.shares.each do |share| %>
    <li><%= link_to(
      "#{share.server.name}/#{share.filename.name}",
      share
    ) %></li>
  <% end %>
</ul>

<%= link_to '✏', edit_datum_path(@datum) %> |
<%= link_to '⏫', data_path %>
